/* --currents in main-- */
.currentArtistMain {
    padding-top: 5px;
    opacity: 50%;
}
.currentSong {
    z-index: 1;
}
.playlistTitle {
    display: flex;
    flex-direction: column;
    text-align: start;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.playbackCurrent {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.visualizer {
    padding: 0 10px 0 0;
    height: 20px;
    filter: invert();
}
/* --currents in main-- */

/* --currents out of main */

/* --controls in main-- */
.playerControl {
    display: flex;
    justify-content: center;
    opacity: 50%;
    transition: .4s;
}
.playerContainer {
    width: 40%;
    transition: .4s;
}
.playerControl Button {
    height: 25px;
    padding: 20px;
}
/* --controls in main-- */

/* --current playback pane-- */
.playbackPrompt {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.playbackCurrentPane {
    padding: 20px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background: white;
    border: 1px solid #5b5b5b;
}
.shuffleToggle {
    width: 50px;
    display: flex;
    justify-content: flex-end;
}
.shuffleOn {
    padding: 5px;
    border-radius: 50px;
    background: #ffffff;
    filter: invert(100%);
    transition: .4s;
}
.shuffleOff {
    padding: 5px;
    transition: .4s;
}
/* --current playback pane-- */

/* --playlist covers-- */
.playlistCover {
    height: 100px;
    width: 100px;
    object-fit: cover;
    filter: none;
    transition: .4s;
    border: 1px solid #5b5b5b;
    margin-right: 20px;
}
.dark .playlistCover {
    filter: invert(100%) hue-rotate(180deg);
    transition: .4s;
}
.playlistCoverMini {
    height: 50px;
    width: 50px;
    object-fit: cover;
    filter: none;
    transition: .4s;
    border: 1px solid #5b5b5b;
    margin-right: 10px;
}
.dark .playlistCoverMini {
    filter: invert(100%) hue-rotate(180deg);
    transition: .4s;
}
img[src=""] {
    display: none;
}
/* --playlist covers-- */

/* --playlist selector-- */
.playbackPlaylists {
    height: 45vh;
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    padding: 20px;
    border-radius: 20px;
    background: radial-gradient(circle at top right,#1DB954,white 25%);
    border: 1px solid #5b5b5b;
    overflow-y:auto;
}
.playbackPlaylists::-webkit-scrollbar {
    display: none;
}
.yourPlaylistLabel {
    display: flex;
    align-items: center;
    padding: 5px 0 10px 0;
}
.playlistSelector {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #5b5b5b, transparent 90%) 1;
}
.poweredBy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -1rem;
}
.spotifyOnClick:hover {
    cursor: pointer;
}
/* --playlist selector-- */