.currentArtistMain {
    padding-top: 5px;
    opacity: 50%;
}
.currentSong {
    z-index: 1;
}
.playlistTitle {
    display: flex;
    flex-direction: column;
    text-align: start;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.playbackCurrentPane {
    padding: 20px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background: white;
    border: 1px solid #5b5b5b;
}
.playbackCurrent {
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playbackPrompt {
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}
.playlistCover {
    height: 100px;
    width: 100px;
    object-fit: cover;
    filter: none;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #5b5b5b;
    margin-right: 20px;
}
.dark .playlistCover {
    filter: invert(100%) hue-rotate(180deg);
    -webkit-transition: .4s;
    transition: .4s;
}
.playlistCoverMini {
    height: 50px;
    width: 50px;
    object-fit: cover;
    filter: none;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #5b5b5b;
    margin-right: 10px;
}
.dark .playlistCoverMini {
    filter: invert(100%) hue-rotate(180deg);
    -webkit-transition: .4s;
    transition: .4s;
}
img[src=""] {
    display: none;
}
.playbackPlaylists {
    height: 45vh;
    display: flex;
    flex-direction: column;
    margin: 20px 0 10px 0;
    padding: 20px;
    border-radius: 20px;
    background: radial-gradient(circle at top right,#1DB954,white 25%);
    border: 1px solid #5b5b5b;
    overflow-y:auto;
}
.playbackPlaylists::-webkit-scrollbar {
    display: none;
}
.yourPlaylistLabel {
    display: flex;
    align-items: center;
    padding: 5px 0 10px 0;
}
.playlistSelector {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0 5px 0;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #5b5b5b, transparent 90%) 1;
}
.visualizer {
    padding: 0 10px 0 0;
    height: 20px;
    filter: invert();
}
.playerControl {
    display: flex;
    justify-content: center;
    opacity: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
.playerContainer {
    width: 40%;
    -webkit-transition: .4s;
    transition: .4s;
}
.playerControl Button {
    height: 25px;
    padding: 20px;
}
.play {
    content:url("./icons/playicon.png");
}
.pause {
    content:url("./icons/pauseicon.png");
}
.shuffleToggle {
    width: 50px;
    display: flex;
    justify-content: flex-end;
}
.shuffleOn {
    padding: 5px;
    border-radius: 50px;
    background: #ffffff;
    filter: invert(100%);
    -webkit-transition: .4s;
    transition: .4s;
}
.shuffleOff {
    padding: 5px;
    -webkit-transition: .4s;
    transition: .4s;
}
.poweredBy {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -1rem;
}
.disconnect {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -1rem;
}