.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

/* --divs-- */
.fullscreen-enabled {
  background-color: #f3f3f3;
  -webkit-transition: .4s;
  transition: .4s;
}

div .dark {
    background-color: #f3f3f3;
    filter: invert(100%) hue-rotate(180deg);
    .fullscreen-enabled {
      filter: invert(100%) hue-rotate(180deg);
      -webkit-transition: .4s;
      transition: .4s;
    }
  -webkit-transition: .4s;
  transition: .4s;
}
div .light {
  filter: none;
  background-color: #f3f3f3;
  -webkit-transition: .4s;
  transition: .4s;
}

div .background {
  background-image: url("./assets/wallpapers/ghiblifall.jpg");
  background-size: cover;
  .clock {
    opacity: 80%;
  }
}
/* --divs-- */

/* --headers-- */
.header {
  min-height: 15vh;
  display: flex;
  align-items: flex-start;
  padding: 0 32px 0 32px;
}
.header .bar {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;
  opacity: 50%;
}
.logo {
  width: 33%;
  margin-top: 32px;
  opacity: 50%;
}
.timer {
  width: 34%;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
  color: #FF9500;
}
/* --headers-- */

/* --container/center-- */
.container {
  min-height: 70vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* --container/center-- */

/* --footer-- */
.footer {
  min-height: 15vh;
  display: flex;
  align-items: flex-end;
  padding: 0 32px 0 32px;
}
.player {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  opacity: 50%;
}
.playerContainer {
  width: 40%;
}
.content {
  margin-bottom: 32px;
  width: 30%;
  filter: none !important;
}

/* --timer-- */
.timerControl {
  display: flex;
  height: max-content;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 32px;
  width: 30%;
  padding: 0 10px 10px 0;
}
.timerControl button {
  font-weight: bold;
  font-size: 1rem;
  height: 25px;
  padding: 10px;
  opacity: 50%;
}
.timerControl .stop {
  border-radius: 50px;
  margin-left: 5px;
  color:white;
  background-color: #ff4b4b !important;
  opacity: 100% !important;
}
.timerControl .start {
  border-radius: 50px;
  margin-left: 5px;
  color:white;
  background-color: #1cd04f !important;
  opacity: 100% !important;
}
/* --timer-- */
/* --footer-- */

/* --settings-- */
.settings {
  height: 55vh;
  background: white;
  padding: 32px;
}
.settingsHeader {
  display: flex;
}
.settingsHeaderItem {
  display: flex;
  align-items: center;
  width: 50%;
}
.settingsContainer {
  padding: 0 10px 0 10px;
}
.settingsItem {
  display: flex;
  align-items: center;
  padding: 0 0 20px 10px;
}
.settingsSubItem {
  display: flex;
  align-items: center;
  margin-top: -15px;
  padding: 0 0 20px 40px;
  color: #5b5b5b;
}
/* --settings-- */

/* --icons-- */
.icon {
  height: 20px;
  padding: 10px;
}
.sticon {
  height: 35px;
  padding: 5px;
}
.spotifyIcon {
  height: 20px;
  padding: 10px 10px 10px 0;
  filter: invert(100%) hue-rotate(180deg);
}
.timerIcon {
  height: 20px;
  padding: 5px;
}
/* --icons-- */

/* --Spotify-- */
.spotifyLogin {
  display: flex;
  align-items: center;
  margin-right: 1em;
  padding: 0 1em 0 1em;
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 50px;
  color: white;
  background-color: black !important;
}
.visualizer {
  padding: 0 10px 0 0;
  height: 20px;
  filter: invert();
}
.player Button {
  height: 25px;
  padding: 20px;
}
.play {
  content:url("./player/icons/playicon.png");
}
.pause {
  content:url("./player/icons/pauseicon.png");
}
/* --Spotify-- */

/* --visibility-- */
.hide {
  display: none !important;
}
/* --visibility-- */

/* --fonts & generic buttons-- */
h5 {
  font-size: 1.5rem;
  margin: 0;
}
h6 {
  font-size: 1rem;
  text-align: start;
  font-weight: normal;
  margin: 0;
}
button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border-color: transparent;
}
button:hover {
  cursor: pointer;
}
button span {
  font-weight: bold;
  padding-left: 5px;
}
.textButton {
  background-color: transparent;
  border-color: transparent;
  text-decoration: underline;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 10px 0 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0 0 5px #000000;
}

input:checked + .slider {
  background-color: #1cd04f;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1cd04f;
}
input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.sliderRange {
  -webkit-appearance: none;
  width: 100px;
  height: 17px;
  margin: 0 10px 0 10px;
  border-radius: 17px;
  background: #ccc;
  outline: none;
  -webkit-transition: .4s;
  transition: opacity .4s;
}

.sliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}
.sliderRange::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}


/* --fonts & generic buttons-- */