.fullscreen-enabled {
  background-color: #f3f3f3;
}
/* --divs-- */
div .dark {
    background-color: #f3f3f3;
    filter: invert(100%) hue-rotate(180deg);
    .fullscreen-enabled {
      filter: invert(100%) hue-rotate(180deg);
    }
}
div .light {
  filter: none;
}
/* --divs-- */

/* --headers-- */
.header {
  min-height: 15vh;
  display: flex;
  margin-left: 2em;
  align-items: flex-start;
}
.header .bar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  margin: 1em 1em 0 -0.5em;
}
.header button span {
  font-weight: normal;
}
/* --headers-- */

/* --container/center-- */
.container {
  min-height: 70vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}
.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
/* --container/center-- */

/* --footer-- */
.footer {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
/* --footer-- */

/* --icons-- */
.icon {
  height: 20px;
  padding: 10px;
  vertical-align: middle;
}
.sticon {
  height: 35px;
  padding: 5px;
  vertical-align: middle;
}
.spotifyIcon {
  height: 20px;
  padding: 10px 10px 10px 0;
  filter: invert(100%) hue-rotate(180deg);
}
.playerIcons {
  height: 25px;
  padding: 5px;
  vertical-align: middle;
}
/* --icons-- */

/* --Spotify-- */
.header .spotifyLogin  {
  display: flex;
  align-items: center;
  margin: 2em 2em 0 0;
  padding: 0 1em 0 1em;
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 50px;
  color: white;
  background-color: black;
}
/* --Spotify-- */

/* --visibility-- */
.show {
  opacity: 100;
  padding: 0 10px 0 0;
  height: 20px;
  filter: invert();
}
.hide {
  opacity: 0;
}
/* --visibility-- */
