/* --settings general-- */
.settings {
    display: flex;
    height: auto;
    background: #ffffff;
    padding: 48px 32px 32px 32px;
    overflow-x: hidden;
}
.settingsContainer {
    width: 50%;
}
.settingsHeader {
    display: flex;
    padding-bottom: 5px;
}
.settingsItem {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 10px;
}
.settingsSubItem {
    display: flex;
    align-items: center;
    padding: 0 0 5px 20px;
    color: #5b5b5b;
}
/* --settings general-- */

/* --settings login-- */
.loginTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    border: 1px solid #5b5b5b;
    transition: .4s;
}

.spotifyTab {
    background: linear-gradient(90deg, white 60%, #1DB954);
}

.spotifyTab:active {
    scale: 80%;
    transition: .4s;
}

.spotifyTab:hover {
    cursor: pointer;
}
.youtubeTab {
    background: linear-gradient(90deg, white 60%, #fc5e5e);
}
/* --spotify settings login-- */

/* --settings niche-- */
.greeting {
    display: flex;
    align-items: center;
    white-space: pre;
}
.miscChange {
    display: flex;
    padding-left: 15px;
}
.miscChangeBtn {
    height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5b5b5b;
    border-radius: 10px;
    padding: 5px;
}
.miscChangeBtn:hover{
    color: white;
    background-color: #ff4b4b;
}
.miscChangeBtn + .nameChangeDesc {
    display: none;
}
.miscChangeBtn:hover + .nameChangeDesc {
    display: block;
    padding-left: 10px;
    width: 200px;
}
/* --settings niche-- */