.center-clock {
    font-weight: bold;
    font-size: 10rem;
    color: #2a2a2a;
    margin: 0;
    line-height: .5;
}

h2 span {
    display: inline-block;
    vertical-align: middle;
}

.second {
    color: #5b5b5b;
    width: 150px;
}