div .dark {
  background-color: #f3f3f3;
  filter: invert(100%) hue-rotate(180deg);
  .fullscreen-enabled {
    background-color: #f3f3f3;
    filter: invert(100%) hue-rotate(180deg);
    transition: .4s;
  }
  transition: .4s;
}

div .light {
  background-color: #f3f3f3;
  filter: none;
  .fullscreen-enabled {
    background-color: #f3f3f3;
    transition: .4s;
  }
  transition: .4s;

}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}
span.todo[contenteditable]:empty::before {
  content: "Enter a Task!";
  display: inline-block;
}

.hide {
  display: none !important;
}
.hideOpacity {
  opacity: 0;
  transition: .4s;
}

button:hover {
  cursor: pointer;
}
button:active {
  scale: 80%;
  transition: .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 10px 0 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: #ccc;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0 0 5px #000000;
}

input:checked + .slider {
  background-color: #1cd04f;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1cd04f;
}
input:checked + .slider:before {
  transform: translateX(13px);
}

.range {
  -webkit-appearance: none;
  width: 100px;
  height: 17px;
  margin: 0 10px 0 10px;
  border-radius: 17px;
  background: #ccc;
  transition: opacity .4s;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}
.range::-moz-range-thumb {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0 0 5px #000000;
  cursor: pointer;
}

.max {
  height: 70vh;
  margin-top: calc(-5vh);
  transition: height 1s, margin 1s;
}