button {
    font-size: 1.5rem;
}

.playing {
    display: flex;
    align-items: center;
    margin: 0;
    height: 125px;
}

.playlist {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 0 10px 10px;
}

