button {
    font-size: 1.5rem;
}

h5 {
    color: black;
    font-size: 1.5rem;
    margin: 0;
}

h6 {
    color: black;
    font-size: 1rem;
    text-align: start;
    font-weight: normal;
    margin: 0;
}

.playing {
    display: flex;
    align-items: center;
    margin: 0;
    height: 125px;
}

.playlist {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px 0 10px 10px;
}
.playlistContainer {
    width: 30%;
}

