.center-clock {
    font-weight: bold;
    font-size: 10rem;
    margin: 0;
    line-height: 1.1;
    z-index: 1;
}

.hour, .minute, .second {
    width: 150px;
}

.secondTimer {
    width: 40px;
}

/*--timer--*/
.timerControl {
    display: flex;
    height: max-content;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding: 10px;
}
.timerControl button {
    font-weight: bold;
    font-size: 1rem;
    height: 25px;
    opacity: 50%;
    border-radius: 50px;
}
.stopButton {
    padding: 5px;
    margin-left: 10px;
    color:white;
    background-color: #ff4b4b;
    opacity: 100% !important;
}

.startButton {
    padding: 10px;
    margin-left: 5px;
    color:white;
    background-color: #15a93f;
    opacity: 100% !important;
}
.timerContainer {
    width: 34%;
    display: flex;
    justify-content: center;
}
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 50px;
    background-color: #FF9500;
}
.timerBreak {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 50px;
    background-color: #00b2ff;
}
.timerAlert {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 50px;
    background-color: #f5a800;
}
.timerStop {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 50px;
    background-color: #fa5b5b;
}
/* --timer-- */

/*--timer-overlay--*/
.overlayAlert {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    .fullscreen-enabled {
        -webkit-transition: .4s;
        transition: .4s;
    }
    -webkit-transition: .4s;
    transition: .4s;
    background: #f5a800;
    .fullscreen-enabled {
        background: #f5a800;
    }
}
.overlayStop {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    .fullscreen-enabled {
        -webkit-transition: .4s;
        transition: .4s;
    }
    -webkit-transition: .4s;
    transition: .4s;
    background: #fa5b5b;
    .fullscreen-enabled {
        background: #fa5b5b;
    }
}
.overlayBreak {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    .fullscreen-enabled {
        -webkit-transition: .4s;
        transition: .4s;
    }
    -webkit-transition: .4s;
    transition: .4s;
    background: #afe3ff;
    .fullscreen-enabled {
        background: #afe3ff;
    }
}
.overlayStart {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    .fullscreen-enabled {
        -webkit-transition: .4s;
        transition: .4s;
    }
    -webkit-transition: .4s;
    transition: .4s;
    background: #15a93f;
    .fullscreen-enabled {
        background: #15a93f;
    }
}
.overlayHide {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    .fullscreen-enabled {
        -webkit-transition: .4s;
        transition: .4s;
    }
    -webkit-transition: .4s;
    transition: .4s;
    background: transparent;
    .fullscreen-enabled {
        background: transparent;
    }
}
/*--timer-overlay--*/