.pit {
    height: 50vh;
    background: white;
    display: flex;
    align-items: flex-end;
    padding: 32px;
}
.abyss {
    height: 30vh;
    background-image: radial-gradient(circle at 2px 2px, rgb(0, 0, 0) 2px, transparent 0);
    background-size: 25px 25px;
    background-color: white;
    z-index: -1;
}
.abyssSectionL {
    width: 50%;
}
.abyssSectionR {
    width: 50%;
    justify-content: end;
}
.abyssCover {
    margin-top: -30vh;
    height: 30vh;
    background: linear-gradient(180deg, white 30%, transparent);
    z-index: 2;
}
.credits {
    display: flex;
    align-items: center;
    font-weight: normal;
    white-space: pre-wrap;
}