
/* --settings-- */
.settings {
    display: flex;
    height: 100vh;
    background: #ffffff;
    padding: 48px 32px 32px 32px;
}
.settingsContainer {
    width: 50%;
}
.settingsHeader {
    display: flex;
    padding-bottom: 5px;
}
.settingsItem {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 10px;
}
.settingsSubItem {
    display: flex;
    align-items: center;
    padding: 0 0 5px 20px;
    color: #5b5b5b;
}
.greeting {
    display: flex;
    align-items: center;
    white-space: pre;
}
.spotifyLoginTab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background: linear-gradient(90deg, white 60%, #1DB954);
    border: 1px solid #5b5b5b;
}
.spotifyLoginTab:hover {
    cursor: pointer;
}
/* --settings-- */
