.centerClock {
    font-weight: bold;
    font-size: 7rem;
    margin: 0;
    line-height: 1.1;
    z-index: 1;
}

.miniClock {
    font-weight: bold;
    font-size: 6vh;
    margin: 0;
    line-height: 1.1;
    z-index: 1;
}

.hour, .minute, .second {
    width: 150px;
}

.secondTimer {
    width: 40px;
}

/*--timer--*/
.timerControl {
    display: flex;
    height: max-content;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    padding: 10px;
    transition: .4s;

}
.timerControl button {
    font-weight: bold;
    font-size: 1rem;
    height: 25px;
    opacity: 50%;
    border-radius: 50px;
}
.stopButton {
    padding: 5px;
    margin-left: 10px;
    color:white;
    background-color: #ff4b4b;
    opacity: 100% !important;
}

.startButton {
    padding: 10px;
    margin-left: 5px;
    color:white;
    background-color: #15a93f;
    opacity: 100% !important;
}

.setTimerButton {
    margin: 0 5px 0 5px;
}
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 50px;
    background-color: #FF9500;
    transition: .4s;
    box-shadow: black 0 0 5px;
}
.dark .timer {
    box-shadow: white 0 0 5px;
}
.timerContainer .break {
    background-color: #00b2ff;
}
.timerContainer .alert {
    background-color: #fcd200;
}
.dark .timerContainer .alert {
    background-color: #7c6300;
}
.timerContainer .stop {
    background-color: #fa5b5b;
}
/* --timer-- */

/*--timer-overlay--*/
.overlay {
    pointer-events: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: .4s;
}
.alert {
    background-color: #faf6ae;
}
.dark .alert {
    background-color: #8c7500;
}
.stop {
    background: #ff9595;
}
.break {
    background: #93dcff;
}
.start {
    background: #a1ffba;
}
/*--timer-overlay--*/